h2 {
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0 5px;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    &.active {
        background-color: #f6f7f8;
        color: #000;
    }
}

.login {
    position: absolute;
    right: 10px;
    top: 10px;
}