<h2 class="text-center">Welcome to this app</h2>
<ul class="flex flex-center-x">
    <li><a [routerLinkActive]="['active']" [routerLink]="['/main']">Main</a></li>
    <li><a [routerLinkActive]="['active']" [routerLink]="['/onas']">onas</a></li>
    <li><a [routerLinkActive]="['active']" [routerLink]="['/faq']">faq</a></li>
    <li><a [routerLinkActive]="['active']" [routerLink]="['/tarif']">tarif</a></li>
    <li><a [routerLinkActive]="['active']" [routerLink]="['/bezopasnost']">bezopasnost</a></li>
    <li><a [routerLinkActive]="['active']" [routerLink]="['/legal']">legal</a></li>
</ul>
<div class="login">
    <app-login></app-login>
    <app-register></app-register>
</div>