<button (click)="toggleModal()">Login</button>

<div class="modal" [ngClass]="{'open':isModalOpen}">
    <div class="modal-container">
        <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm)">
            <div class="form-group"><input formControlName="field1" placeholder="Email" /></div>
            <div class="form-group"><input formControlName="field2" type="password" placeholder="Password" /></div>
            <div class="form-group"><button type="submit" [disabled]="!loginForm.valid">
        Submit
      </button></div>
        </form>
    </div>
    <div class="overlay" (click)="toggleModal()"></div>
</div>