<div class="flex">
    <div class="p-3">
        <div>{{chosenCategory}}</div>
        <div>{{chosenSubcategory}}</div>
    </div>
    <div class="p-3">
        <form [formGroup]="myform" (submit)="onFormSubmit(myform)">
            <div><input (keyup)="hideInfo()" formControlName="field1" /></div>
            <div><input (keyup)="hideInfo()" formControlName="field2" /></div>
            <div><button type="submit" [disabled]="!myform.valid">
        Submit
      </button></div>
        </form>
    </div>
    <div *ngIf="formSubmitted">{{field1}} - {{field2}}</div>
    <button class="back" (click)="back()">&larr;</button>
</div>