.modal {
    position: fixed;
    opacity: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    &.open {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
    }
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(100, 100, 100, 0.8);
    z-index: 1;
}

.modal-container {
    max-width: 600px;
    padding: 20px 30px;
    z-index: 2;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 3px #999;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 10px;
}