<button (click)="toggleModal()">Register</button>

<div class="modal" [ngClass]="{'open':isModalOpen}">
    <div class="modal-container">
        <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit(registerForm)">
            <div class="form-group"><input formControlName="field1" type="email" placeholder="Email" /></div>
            <div class="form-group"><input formControlName="field2" type="password" placeholder="Password" /></div>
            <div class="form-group"><input formControlName="field3" type="password" placeholder="Repeat password" /></div>
            <div class="form-group"><button type="submit" [disabled]="!registerForm.valid">
        Submit
      </button></div>
        </form>
    </div>
    <div class="overlay" (click)="toggleModal()"></div>
</div>