<div class="flex">
    <div class="categories col-3">
        <div class="category" routerLink="/main/{{category.id}}" [routerLinkActive]="['active']" *ngFor="let category of categories" (click)="chooseCategory(category)">
            {{category.name}}
        </div>
    </div>
    <div class="col">
        <router-outlet></router-outlet>
    </div>
</div>