.subcategories {
    display: flex;
    flex-wrap: wrap;
}

.subcategory {
    width: 100px;
    height: 150px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    &:not(:first-child) {
        margin-left: 15px;
    }
}