<div>
    <div *ngIf="!isSubcategoryChosen">
        <div class="subcategories">
            <div class="subcategory" routerLink="/main/{{chosenCategory}}/{{subcategory.id}}" [routerLinkActive]="['active']" *ngFor="let subcategory of subCategories" (click)="chooseSubcategory(subcategory)">
                <p class="cat-name">{{subcategory.name}}</p>
            </div>
        </div>
    </div>
    <div *ngIf="isSubcategoryChosen">
        <router-outlet></router-outlet>
    </div>
</div>