<div class="flex-full-center">
    <div class="panel text-center">
        <p class="title">404</p>
        <p class="desc">We are sorry, the page you are looking for, was lost somewhere.</p>
        <button class="main-btn" (click)="goBack()">Back</button>
    </div>

</div>