.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}

.app-router {
    flex: 1 0 auto;
    overflow: auto;
    background: #f6f7f8;
    padding: 15px;
}