<div class="flex-full-center">
    <div class="panel text-center">
        <p class="title">404</p>
        <p class="desc">Internal server error.</p>
        <p class="desc">Something unexpected was happen.</p>
        <button class="main-btn" (click)="goBack()">Back</button>
    </div>

</div>