/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
    padding: 0;
}

$grid-base: 12;
$one-col-width: 8.333333333333333%;
*,
*:before,
*:after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
    box-shadow: none;
}


/*=====general purpose utility classes==*/

.flex,
.flex-center-x,
.flex-center-y,
.flex-center-xy {
    display: flex;
}


/* Align item in center wrt major axis*/

.flex-center-x {
    justify-content: center;
}


/* Align item in center wrt minor axis*/

.flex-center-y {
    align-items: center;
}


/* Align item in center wrt major and minor axis*/

.flex-center-xy {
    @extend .flex-center-x;
    @extend .flex-center-y;
    height: 100%;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}


/*----------Grid------------*/

.container-fluid {
    width: 100%;
}

.container,
.container-fluid {
    margin: 0 auto;
    padding: 0 15px;
}

.col {
    flex: 1 1 100%;
    width: 100%;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.row {
    @extend .flex;
    flex-wrap: wrap;
    margin-left: -.5rem;
    margin-right: -.5rem;
}

.row>* {
    width: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
}

@for $i from 1 through $grid-base {
    .col-#{$i} {
        width: $one-col-width*$i;
        flex: 1 1 $one-col-width*$i;
    }
}


/* col-sm-* classes */

@media (min-width: 768px) {
    @for $i from 1 through $grid-base {
        .col-sm-#{$i} {
            width: $one-col-width*$i;
            flex: 1 1 $one-col-width*$i;
        }
    }
}


/* col-md-* classes*/

@media (min-width: 992px) {
    @for $i from 1 through $grid-base {
        .col-md-#{$i} {
            width: $one-col-width*$i;
            flex: 1 1 $one-col-width*$i;
        }
    }
}


/* col-lg-* classes*/

@media (min-width: 1200px) {
    @for $i from 1 through $grid-base {
        .col-lg-#{$i} {
            width: $one-col-width*$i;
            flex: 1 1 $one-col-width*$i;
        }
    }
}


/* html is set to 62.5% so that all the REM measurements throughout Flex Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
}

h1 {
    font-size: 4.0rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
}

h2 {
    font-size: 3.6rem;
    line-height: 1.25;
    letter-spacing: -.1rem;
}

h3 {
    font-size: 3.0rem;
    line-height: 1.3;
    letter-spacing: -.1rem;
}

h4 {
    font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: -.08rem;
}

h5 {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -.05rem;
}

h6 {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0;
}


/* Larger than phablet */

@media (min-width: 550px) {
    h1 {
        font-size: 5.0rem;
    }
    h2 {
        font-size: 4.2rem;
    }
    h3 {
        font-size: 3.6rem;
    }
    h4 {
        font-size: 3.0rem;
    }
    h5 {
        font-size: 2.4rem;
    }
    h6 {
        font-size: 1.5rem;
    }
}

p {
    margin-top: 0;
}

.p-3 {
    padding: 15px;
}

.text-center {
    text-align: center;
}

input {
    border: 1px solid #777;
    border-radius: 3px;
    padding: 5px 8px;
    min-width: 200px;
    background: #fff;
    color: #444;
}